@import '~materialize-css/dist/css/materialize';

.currency-field__name {
  font-weight: bold;
  color: black;
}

.currency-show-table {
  margin-bottom: 10px;
}

.btn {
  text-transform: none;
}

.social-login{
  margin:20px;
}
.social-login__title{
  text-align:center;
  margin-bottom:15px;
}
.social-login__providers{
  display: flex;
  justify-content: space-evenly;
}